This file is here to help angular gettext extractor to find msgid
<span translate>Brussels Partners</span>
<span translate>Cell</span>
<span translate>Cells</span>
<span translate>Cities</span>
<span translate>City</span>
<span translate>City - Country - Region</span>
<span translate>Contact</span>
<span translate>Content</span>
<span translate>Continent</span>
<span translate>Countries</span>
<span translate>Country</span>
<span translate>Country - Region</span>
<span translate>Keywords</span>
<span translate>Function</span>
<span translate>Regions</span>
<span translate>Theme</span>
<span translate>Name</span>
<span translate>Name - Firstname - organisation - cell</span>
<span translate>Organisation</span>
<span translate>Region</span>
<span translate>Relation type</span>
