<div class="myMessage">
<div ng-include="'./partials/messages.html'"></div>
</div>
<div id="projects-wrapper" class="row">
  <div class="col-md-12">
    <div class="panel panel-default" ng-if="currentProject">
      <div class="panel-heading" translate>Project</div>
      <div class="panel-body">
        <div ng-include="'./partials/project-edit.html'"></div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default" ng-show="projects">
      <div class="panel-heading" translate>Projects</div>
      <div class="panel-body">
        <div class="input-group margin-bottom-sm">
          <input type="search" class="form-control" ng-model="queryProject"/>
          <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        </div>
        <div class="list-group">
          <a class="list-group-item" title="{{project.name}}"
             ng-repeat="project in projects | filter:queryProject"
             ng-class="{'active': currentProject.code === project.code}"
             ng-click="setCurrentProject(project)">
              {{project.code}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-show="projects">
      <div class="panel-heading" translate>Add a project</div>
      <div class="panel-body">
        <div class="form-group">
          <label translate>Code</label>
          <input type="text" class="form-control" ng-model="newCode"/>
        </div>
        <button class="btn btn-primary" ng-click="addNewProject(newCode)" translate>Add a project</button>
      </div>
    </div>
  </div>

</div>

