<!--
Il faut faire ici:
Un widget qui permet de choisir plusieurs éléments dans une liste d'objets.

Contraintes:
* afficher les différents propriétés des objets
* blacklister certaines propriétés
* remplir une liste cible à la selection
* permettre de supprimer des éléments de la selection

-->

<div class="form-horizontal">
	<div class="form-group">
		<div class="col-sm-2">
			<label>{{label | translate}}</label>
			<div class="radio">
				<label>
					<input type="radio" ng-name="limitTo-{{label}}" value="5" ng-model="limitTo" checked />
					<span class="help-block">5</span>
				</label>
				<label>
					<input type="radio" ng-name="limitTo-{{label}}" value="10" ng-model="limitTo" />
					<span class="help-block">10</span>
				</label>
				<label>
					<input type="radio" ng-name="limitTo-{{label}}" value="20" ng-model="limitTo" />
					<span class="help-block">20</span>
				</label>
				<label>
					<input type="radio" ng-name="limitTo-{{label}}" value="-1" ng-model="limitTo" />
					<span class="help-block" translate>All</span>
				</label>
			</div>
		</div>
		<div class="col-sm-10">
			<div class="list-group">
			  <div class="input-group margin-bottom-sm select-header">
                <span class="input-group-addon legend">{{legend | translate}}</span>
				<input type="search" class="form-control" ng-model="queryTerm"/>
				<span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
			  </div>
			  <a class="list-group-item"
				 ng-repeat="term in vocabulary | orderBy:orderBy | filter:queryTerm | limitTo:getLimitTo()"
				 ng-class="{'list-group-item-info': isSelected(term)}"
				 ng-click="selectTerm(term)">
				{{displayTerm(term)}}
              </a>
			</div>
		</div>
	</div>
</div>
