<div class="form-horizontal">
<div class="form-group">
	<label class="col-sm-2 control-label">{{label | translate}} FR</label>
	<div class="col-sm-10">
		<textarea class="form-control" ng-model="value.fr"></textarea>

	</div>
	<label class="col-sm-2 control-label">{{label | translate}} EN</label>
	<div class="col-sm-10">
		<textarea class="form-control" ng-model="value.en"></textarea>
	</div>
	<label class="col-sm-2 control-label">{{label | translate}} NL</label>
	<div class="col-sm-10">
		<textarea class="form-control" ng-model="value.nl"></textarea>
	</div>
</div>