<div class="panel panel-default">
	<div class="panel-heading" translate>Theme</div>
	<div class="panel-body">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-md-2 control-label">{{'Theme'|translate}} EN</label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="themeEN" ng-model="currentTerm.name.en"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">{{'Theme'|translate}} FR</label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="themeFR" ng-model="currentTerm.name.fr"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">{{'Theme'|translate}} NL</label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="themeNL" ng-model="currentTerm.name.nl"/>
				</div>
			</div>
	        <div select-multiple
                 label="'Keywords'"
                 vocabulary="vocabularies['keywords']"
                 display="'_(term.name)'"
                 legend="'Name'"
                 target="currentTerm.keywords">
            </div>
		</div>
		<div class="form-group">
		  <div class="pull-right ng-hide" ng-show="currentTerm.id">
		    <button class="btn btn-primary" ng-click="saveTerm()" ng-disabled="vocabularyForm.$invalid || isUnchanged(currentTerm)" translate>Save</button>
		    <button class="btn btn-default" ng-click="reset()" translate>Cancel</button>
		    <button class="btn btn-danger" ng-click="removeTerm()" translate>Delete</button>
		  </div>
		  <div class="pull-right ng-hide" ng-show="!currentTerm.id">
		    <button class="btn btn-primary" ng-click="addTerm()" ng-disabled="vocabularyForm.$invalid || isUnchanged(currentTerm)" translate>Add</button>
		    <button class="btn btn-default" translate>Cancel</button>
		  </div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading" translate>Themes</div>
	<div class="panel-body">
        <div class="list-group">
          <a class="list-group-item"
             ng-repeat="term in terms | orderBy:orderByName"
             ng-class="{'active': currentTerm.id === term.id}"
             ng-click="setCurrentTerm(term)">
              {{t(term.name)}}</a>
        </div>

	</div>
</div>
