<div class="panel panel-default">
	<div class="panel-heading" translate>Edit city</div>
	<div class="panel-body">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-md-2 control-label">{{'Name'|translate}} EN</label>
				<div class="col-md-10">
					<input type="text" class="form-control" ng-model="currentTerm.name.en"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">{{'Name'|translate}} FR</label>
				<div class="col-md-10">
					<input type="text" class="form-control" ng-model="currentTerm.name.fr"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">{{'Name'|translate}} NL</label>
				<div class="col-md-10">
					<input type="text" class="form-control" ng-model="currentTerm.name.nl"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">{{'Region'|translate}}</label>
				<div class="col-md-10">
					<select class="form-control" name="region" ng-model="currentTerm.region" ng-options="region.id as t(region.name) for region in vocabularies.region" required>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">{{'Country'|translate}}</label>
				<div class="col-md-10">
					<select class="form-control" name="country" ng-model="currentTerm.country" ng-options="country.id as country.code for country in vocabularies.country" required>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
		  <div class="pull-right ng-hide" ng-show="currentTerm.id">
		    <button class="btn btn-primary" ng-click="saveTerm()" ng-disabled="vocabularyForm.$invalid || isUnchanged(currentTerm)" translate>Save</button>
		    <button class="btn btn-default" ng-click="reset()" translate>Cancel</button>
		    <button class="btn btn-danger" ng-click="removeTerm()" translate>Delete</button>
		  </div>
		  <div class="pull-right ng-hide" ng-show="!currentTerm.id">
		    <button class="btn btn-primary" ng-click="addTerm()" ng-disabled="vocabularyForm.$invalid || isUnchanged(currentTerm)" translate>Add</button>
		    <button class="btn btn-default" translate>Cancel</button>
		  </div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading" translate>Cities</div>
	<div class="panel-body">
        <div class="list-group">
          <a class="list-group-item"
             ng-repeat="term in terms"
             ng-class="{'active': currentTerm.code === term.code}"
             ng-click="setCurrentTerm(term)">
              [{{term.code}}] {{t(term.name)}}</a>
        </div>

	</div>
</div>