<div class="panel panel-default">
	<div class="panel-heading" translate>Edit contact</div>
	<div class="panel-body">
		<form novalidate  name="vocabularyForm" class="form-css form-horizontal">
			<div class="form-group">
				<label class="col-md-2 control-label" translate>Lastname</label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="lastname" ng-model="currentTerm.lastname"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" translate>Firstname</label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="firstname" ng-model="currentTerm.firstname"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" translate>Phone</label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="phone" ng-model="currentTerm.phone"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label" translate>EMail</label>
				<div class="col-md-10">
					<input type="text" class="form-control" name="email" ng-model="currentTerm.email"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">{{'Organisation'|translate}}</label>
				<div class="col-md-10">
					<select class="form-control"
                            name="organisation"
                            ng-model="currentTerm.organisation.id"
                            ng-options="organisation.id as t(organisation.code) for organisation in vocabularies.organisation"
                            required>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">{{'Cell'|translate}}</label>
				<div class="col-md-10">
					<select class="form-control"
                            name="cell"
                            ng-model="currentTerm.cell.id"
                            ng-options="cell.id as t(cell.code) for cell in vocabularies.cell"
                            required>
					</select>
				</div>
			</div>
		</form>
		<div class="form-group">
		  <div class="pull-right ng-hide" ng-show="currentTerm.id">
		    <button class="btn btn-primary" ng-click="saveTerm()" ng-disabled="vocabularyForm.$invalid || isUnchanged(currentTerm)" translate>Save</button>
		    <button class="btn btn-default" ng-click="reset()" translate>Cancel</button>
		    <button class="btn btn-danger" ng-click="removeTerm()" translate>Delete</button>
		  </div>
		  <div class="pull-right ng-hide" ng-show="!currentTerm.id">
		    <button class="btn btn-primary" ng-click="addTerm()" ng-disabled="vocabularyForm.$invalid || isUnchanged(currentTerm)" translate>Add</button>
		    <button class="btn btn-default" translate>Cancel</button>
		  </div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading" translate>Brussels Partners</div>
	<div class="panel-body">
        <div class="list-group">
          <a class="list-group-item"
             ng-repeat="term in terms"
             ng-class="{'active': currentTerm.id === term.id}"
             ng-click="setCurrentTerm(term)">
              {{term.lastname}} {{term.firstname}} {{term.email}}</a>
        </div>

	</div>
</div>
