.header{
	background: url('http://www.brussel.irisnet.be/++theme++plonetheme.prb/css/++theme++plonetheme.prb/images/header_row_bg.jpg') top left repeat-x;
}
.header .row{
	background: url('http://www.brussel.irisnet.be/++theme++plonetheme.prb/css/++theme++plonetheme.prb/images/header_bg.jpg');
}
.header img{
	height:50px;
}