.section-relex_web #tabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 10px 0 0 10px;
    font: 1em arial;
    float: none;
    width: 100%;
}
.section-relex_web #tabs li {
    display: inline;
}
.section-relex_web #tabs li a {
    border: 1px solid #ccc;
    padding: 4px 6px;
    text-decoration: none;
    background-color: #eeeeee;
    background-image: none;
    border-bottom: none;
    outline: none;
    border-radius: 5px 5px 0 0;
    width: auto;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
.section-relex_web #tabs li a:hover {
    background-color: #dddddd;
    padding: 4px 6px;
}
.section-relex_web #tabs li.active a {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
.section-relex_web #tabs li.active a:hover {
    background-color: #eeeeee;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}

.clear {
    clear: both;
}
#filters_table select {
    min-width: 200px;
}

.section-relex_web #content ul.fancytree-container {
    overflow: visible;
    margin-left: 0;
}

.userrole-anonymous.section-relex_web #filter-status-wrapper {
    display: none;
}
table.project_contact td {
    border: 1px solid black;
    padding: 5px;
}
span.fancytree-node:hover{
  background: #FFF202;
  border-color: #0900BD;
}
span.fancytree-node .fancytree-title, span.fancytree-node a{
  display: inline-block;
  width: auto;
}
span.fancytree-node a:link, span.fancytree-node a:visited{
  border: 0;
}

#filters_table{
  clear: both;
  padding: 10px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
}
#filters_table dt{
  width: auto;
  float: left;
  margin-right: 10px;
}
#filters_table dl{
  margin-bottom: 25px;
}
#filter-code, .chosen-container{
  min-width: 400px !important;
}
#content .chosen-results{
  margin-left: 2px;
}
#content .chosen-choices{
  margin-left: 2px;
}
